:root {
  --ford-color: #063E74;
  --lincoln-color: #243035;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.u-centered {
  text-align: center;
}

.u-block {
  display: block;
}

.u-margin-top-bottom {
  margin: 1em 0;
}

.o-link,
.o-link:visited {
  color: var(--ford-color);
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

.o-link:active,
.o-link:focus,
.o-link:hover {
  color: var(--lincoln-color);
  text-decoration: none;
}

.app-header {
  background-color: #E9E9E9;
  padding: 2em;
  color: white;
  text-align: center;
}

.button {
  background-size: contain;
  border: 3px solid transparent;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  margin: 0 1em;
  opacity: 0.8;
  transition: 0.2s all ease-in-out;
}

.button:active,
.button:focus {
  outline: none;
  opacity: 1;
}

.button:hover {
  opacity: 1;
}

.button--selected {
  border: 3px solid #6dd5ed;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  opacity: 1;
}

.button--lincolnway {
  background-color: var(--lincoln-color);
  background-image: url(./images/lw-logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #FFF;
}

.button--fordpass {
  background-color: #FFF;
  background-image: url(./images/fp-logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: var(--ford-color);
}

.button--large {
  height: 63px;
  width: 140px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(57, 108, 191, 0.2);
  border-right: 1.1em solid rgba(57, 108, 191, 0.2);
  border-bottom: 1.1em solid rgba(57, 108, 191, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.table {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: transparent;
}
th,
td {
  padding: 0.5em;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}

thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ecef;
  color: #495057;
  background-color: #e9ecef;
}
tbody + tbody {
  border-top: 2px solid #e9ecef;
}
.table-bordered {
  border: 1px solid #e9ecef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e9ecef;
}

.table-bordered thead th,
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody:nth-of-type(odd) {
  background-color: rgba(#000,.05);
}

.table-hover tbody tr:hover{
  background-color: rgba(#000,.075);
}

@media (max-width: 768px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive.table-bordered {
    border: 0;
  }
}
